.popup__button-save {
  background-color: #000000;;
  color: #FFFFFF;;
  border: none;
  border-radius: 2px;
  min-width: 358px;
  min-height: 50px;
  margin-top: 48px;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
}

.popup__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .popup__button-save {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 44px;
    margin-bottom: 25px;
  }
}