.profile__add-button {
  background-image: url(../../../images/buttons/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  min-width: 150px;
  min-height: 50px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile__add-button {
    min-width: 282px;
  }
}