.footer {
  min-width: 880px;
  margin: 0 auto 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
  margin-top: auto;
}

@media screen and (max-width: 920px) {
  .footer {
    min-width: 650px;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    min-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}