.element__trash {
  background-image: url(../../../images/buttons/trash-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  min-width: 18px;
  min-height: 19px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.element__trash:hover {
  opacity: 0.5;
}